<div>
  <p>Having a component nested inside another component, which estable the parent-child relationship</p>
  <p>Different Component of interaction between the parent-child component</p>
  <ul>
    <li>Input Decorator (@Input):  a variable that comes from the parent component to the child component</li>
    <li>Output Decorator (@Output): defines a variable to be passed to the parent. Or, rather, it defines an EventEmitter that will emit() data to the parent</li>
  </ul>
  <p>Intercepting the changes between components</p>
  <ul>
    <li>Setters and getters</li>
    <li>ngOnChanges</li>
  </ul>
  <p>Template Reference Variables</p>
  <p>Access properties of a child properties and methods from the parent component</p>
</div>
